<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination Recommendation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Destination Recommendation</h1>
        <h4>Not sure where to travel? Use this machine learning algorithm to find your perfect destination in just a few words.</h4>
        <br>
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="my-input">What activities do you want to do on vacation?</label>
                <input id="my-input" name="input" value="" type="text" placeholder="e.g., I want to go to the beach" class="form-control">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <hr>
    </div>
</body>
</html>
